---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

// Our variables
$base-font-family: "Garamond", serif;
$alternative-font-family: 'Space Mono', monospace;
$page-font-family: 'Work Sans', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       black;
$header-text-color: #111;
$background-color: #74A1859F;

$white-color:      #fafafa;
$strong-orange-color:  #ff6700;
$orange-hover-color:  #FBA6713F;
$purple-color:  #9B59B6;
$red-hover-color:  #fafafa;
$black-color:       black;

// Width of the content area
$content-width:    1400px;

$on-palm:          600px;
$on-laptop:        800px;
$on-small:        1000px;

$box-width:        100px;
$box-indent:        30px;

$full-width:       100%;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    color: $text-color;
    background-color: $background-color;
    font-family: $base-font-family;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../assets/illustration.jpg');
    background-size: 50% auto; /* Full width, automatic height */
    background-repeat: repeat;
    background-position: top right; /* Aligns image at the top */


    line-height: $base-line-height;
    font-weight: 300;
    -webkit-text-size-adjust: $full-width;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-query($on-palm) {
      background-size: 100% auto; /* Full width, automatic height */
      background-repeat: repeat-y;
    }
}

.container {
    max-width: 800px;
    margin: 2rem auto 5rem;
    padding: 3rem;
    padding-bottom: 4rem;
    background: $white-color;
    border: 2px solid black;
    outline: 4px solid black; /* Second border outside */
    outline-offset: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);

    @include media-query($on-palm) {
      margin: 1rem .7rem 5rem;
    }
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.index p {
    text-align: center;
}

p {
    text-align: left;
    font-size: 18px;
}

li {
    text-align: left;
    font-size: 18px;
}

.footer {
    font-size: 14px;
    margin-top: 20px;
    color: #6b5b4b;
}

/**
 * Icons
 */

.home-logo {
    margin-top: 10px;
    width: 7%;
    height: auto;

    @include media-query($on-palm) {
        margin-top: 5px;
        width: 17%;
    }
}

/**
 * Site header
 */
.site-header {
    //fix the header in the top
    width: $full-width;

    z-index: 1;
    margin-bottom: 5rem;
    border: 2px solid black;
    outline: 4px solid black; /* Second border outside */
    outline-offset: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
}

.site-title {
    margin-bottom: 0;
    float: left;
    width: 50%;
    text-align: left;

    &,
    &:visited {
        color: $black-color;
    }

    @include media-query($on-palm) {
            width: 50%;
    }
}

.menu {
    clear: both;
    float: right;
    margin-top: -50px;
    font-size: 20px;

    @include media-query($on-palm) {
            margin-top: -40px;
    }
}

.menu-link {
    text-decoration: none;
    margin-right: 1rem;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: .3rem;

    &,
    &:hover {
        color: $black-color;
        text-decoration: none;
    }

    @include media-query($on-palm) {
        border-top: 0px;
        margin-right: .2rem;
        font-size: 12px;
        text-align: right;
        padding: 2px;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: calc($spacing-unit / 2);
        padding-left: calc($spacing-unit / 2);
    }
}


.main-img {
    width: 50%;
    height: auto;

    @include media-query($on-palm) {
    }
}

/**
 * Site footer
 */
.site-footer {
    margin-top: auto;
    //margin-top: 9rem;
    padding: $spacing-unit;
    border: 2px solid black;
    outline: 4px solid black; /* Second border outside */
    outline-offset: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
}

.copyright {
   text-align: center;
}

.gallery {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(1, 15vw);
  grid-gap: 40px;

  @media only screen and (max-width: 600px) {
    p {
      padding-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    display: block;
  }
}

.gallery__img {
  width: 105%;
  height: 100%;
  object-fit: cover;

  border: 2px solid black;
  outline: 4px solid black; /* Second border outside */
  outline-offset: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.map {
  width: 100%;
  height: 100%;
  border: 0;
}

.contact {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  padding-right: 1rem;
  padding-left: 1rem;
}

.venue-image {
  width: 70%;
  height: auto;
  border: 4px solid black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.announce {
  margin-top: 3rem;
  padding: 1.5rem;
  background-color: $orange-hover-color;
}

nav {
  border: 4px solid black;
  padding: .5rem 0;
  margin-bottom: 20px;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

nav ul li {
  margin: 0 1rem;
  border-right: 2px solid black;
  border-left: 2px solid black;

  @media only screen and (max-width: 600px) {
    border-bottom: 2px solid black;
    border-left: 0;
    border-right: 0;
  }
}

nav ul li a {
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  display: block;
}

nav ul li a:hover {
  background-color: $orange-hover-color;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #d5d5d5;
}

h2 {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: $purple-color;
}

a:hover {
  color: $strong-orange-color;
}

.poster-sec {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gallery-sponsor {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(2, 5fr);
  grid-template-rows: repeat(1, 15vw);
  grid-gap: 80px;

  @media only screen and (max-width: 600px) {
    p {
      padding-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .gallery-sponsor {
    display: block;
  }
}

.gallery-sponsor__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;

  border: 4px solid black;

  @media only screen and (max-width: 600px) {
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.important {
  background-color: $orange-hover-color;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  padding: 1rem;
}

.poster-list {
  padding-left: 1.5rem;
}
