// _sass/_variables.scss

// Our variables
$base-font-family: "Garamond", serif;
$alternative-font-family: 'Space Mono', monospace;
$page-font-family: 'Work Sans', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.2;

$spacing-unit:     30px;

$text-color:       black;
$header-text-color: #111;
$background-color: #74A1859F;

$white-color:      #fafafa;
$strong-orange-color:  #ff6700;
$orange-hover-color:  #FBA671;
$red-hover-color:  #fafafa;
$black-color:       black;

// Width of the content area
$content-width:    1400px;

$on-palm:          600px;
$on-laptop:        800px;
$on-small:        1000px;

$box-width:        100px;
$box-indent:        30px;

$full-width:       100%;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
